<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

##### The syntax for connecting to magic sql using sqllite is

  **%sql sqlite://DatabaseName**   
  
where DatabaseName will be your **.db** file

In [1]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [2]:
#!pip install -q pandas==1.1.5

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///RealWorldData.db

Connecting to 'sqlite:///RealWorldData.db'

### Store the dataset in a Table

##### In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data 
##### using SQL, it first needs to be stored in the database.

##### We will first read the csv files  from the given url  into pandas dataframes

##### Next we will be using the  df.to_sql() function to convert each csv file  to a table in sqlite  with the csv data loaded in it.

In [5]:
import pandas as pd

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

566

Double-click **here** for the solution.
<!--

import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

-->

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [6]:
# type in your query to retrieve list of all tables in the database
%sql SELECT name FROM sqlite_master WHERE type="table"

Running query in 'sqlite:///RealWorldData.db'

+-----------------------------+
|             name            |
+-----------------------------+
|         CENSUS_DATA         |
|      CHICAGO_CRIME_DATA     |
| CHICAGO_PUBLIC_SCHOOLS_DATA |
+-----------------------------+

Double-click **here** for a hint

<!--
In sqlite the system catalog table called sqlite_master contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution using SQLite:

%sql SELECT name FROM sqlite_master WHERE type='table'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [7]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT COUNT(name) FROM PRAGMA_TABLE_INFO("CHICAGO_PUBLIC_SCHOOLS_DATA");

Running query in 'sqlite:///RealWorldData.db'

+-------------+
| COUNT(name) |
+-------------+
|      78     |
+-------------+

Double-click **here** for the solution.

<!-- Solution SQLite:
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [8]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT name, type, length(type) FROM PRAGMA_TABLE_INFO("CHICAGO_PUBLIC_SCHOOLS_DATA");

Running query in 'sqlite:///RealWorldData.db'

+------------------------------------+---------+--------------+
|                name                |   type  | length(type) |
+------------------------------------+---------+--------------+
|             School_ID              | INTEGER |      7       |
|           NAME_OF_SCHOOL           |   TEXT  |      4       |
| Elementary, Middle, or High School |   TEXT  |      4       |
|           Street_Address           |   TEXT  |      4       |
|                City                |   TEXT  |      4       |
|               State                |   TEXT  |      4       |
|              ZIP_Code              | INTEGER |      7       |
|            Phone_Number            |   TEXT  |      4       |
|                Link                |   TEXT  |      4       |
|          Network_Manager           |   TEXT  |      4       |
+------------------------------------+---------+--------------+
Truncated to displaylimit of 10.

Double-click **here** for the solution.

<!-- Solution 

%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and parenthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [9]:
%%sql
SELECT "Elementary, Middle, or High School", COUNT(*)
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE "Elementary, Middle, or High School" = "ES"

Running query in 'sqlite:///RealWorldData.db'

+------------------------------------+----------+
| Elementary, Middle, or High School | COUNT(*) |
+------------------------------------+----------+
|                 ES                 |   462    |
+------------------------------------+----------+

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS_DATA where "Elementary, Middle, or High School"='ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [10]:
%sql SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA

Running query in 'sqlite:///RealWorldData.db'

+-------------------+
| MAX(SAFETY_SCORE) |
+-------------------+
|        99.0       |
+-------------------+

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS_DATA

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [11]:
%sql SELECT NAME_OF_SCHOOL, MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA

Running query in 'sqlite:///RealWorldData.db'

+-----------------------------------+-------------------+
|           NAME_OF_SCHOOL          | MAX(SAFETY_SCORE) |
+-----------------------------------+-------------------+
| Abraham Lincoln Elementary School |        99.0       |
+-----------------------------------+-------------------+

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from CHICAGO_PUBLIC_SCHOOLS_DATA where \
  Safety_Score= (select MAX(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS_DATA)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [12]:
%%sql
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC
LIMIT 10

Running query in 'sqlite:///RealWorldData.db'

+-----------------------------------------------+----------------------------+
|                 NAME_OF_SCHOOL                | AVERAGE_STUDENT_ATTENDANCE |
+-----------------------------------------------+----------------------------+
|     John Charles Haines Elementary School     |           98.40%           |
|          James Ward Elementary School         |           97.80%           |
|  Edgar Allan Poe Elementary Classical School  |           97.60%           |
| Orozco Fine Arts & Sciences Elementary School |           97.60%           |
|        Rachel Carson Elementary School        |           97.60%           |
|  Annie Keller Elementary Gifted Magnet School |           97.50%           |
|   Andrew Jackson Elementary Language Academy  |           97.40%           |
|    Lenart Elementary Regional Gifted Center   |           97.40%           |
|            Disney II Magnet School            |           97.30%           |
|   John H Vanderpoel Elementary Magnet School  |           97.20%           |
+-----------------------------------------------+----------------------------+
Truncated to displaylimit of 10.

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from CHICAGO_PUBLIC_SCHOOLS_DATA \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [13]:
%%sql
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC
LIMIT 5

Running query in 'sqlite:///RealWorldData.db'

+---------------------------------------------------+----------------------------+
|                   NAME_OF_SCHOOL                  | AVERAGE_STUDENT_ATTENDANCE |
+---------------------------------------------------+----------------------------+
|       Velma F Thomas Early Childhood Center       |            None            |
| Richard T Crane Technical Preparatory High School |           57.90%           |
|    Barbara Vick Early Childhood & Family Center   |           60.90%           |
|                 Dyett High School                 |           62.50%           |
|        Wendell Phillips Academy High School       |           63.00%           |
+---------------------------------------------------+----------------------------+

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [14]:
%%sql
SELECT NAME_OF_SCHOOL, REPLACE(AVERAGE_STUDENT_ATTENDANCE, "%", "")
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC
LIMIT 5

Running query in 'sqlite:///RealWorldData.db'

+---------------------------------------------------+----------------------------------------------+
|                   NAME_OF_SCHOOL                  | REPLACE(AVERAGE_STUDENT_ATTENDANCE, "%", "") |
+---------------------------------------------------+----------------------------------------------+
|       Velma F Thomas Early Childhood Center       |                     None                     |
| Richard T Crane Technical Preparatory High School |                    57.90                     |
|    Barbara Vick Early Childhood & Family Center   |                    60.90                     |
|                 Dyett High School                 |                    62.50                     |
|        Wendell Phillips Academy High School       |                    63.00                     |
+---------------------------------------------------+----------------------------------------------+

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''

-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     order by Average_Student_Attendance \
     LIMIT 5

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [15]:
%%sql
SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE CAST(REPLACE(AVERAGE_STUDENT_ATTENDANCE, "%", "") AS DOUBLE) < 70
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC

Running query in 'sqlite:///RealWorldData.db'

+---------------------------------------------------+----------------------------+
|                   NAME_OF_SCHOOL                  | AVERAGE_STUDENT_ATTENDANCE |
+---------------------------------------------------+----------------------------+
| Richard T Crane Technical Preparatory High School |           57.90%           |
|    Barbara Vick Early Childhood & Family Center   |           60.90%           |
|                 Dyett High School                 |           62.50%           |
|        Wendell Phillips Academy High School       |           63.00%           |
|              Orr Academy High School              |           66.30%           |
|         Manley Career Academy High School         |           66.80%           |
|   Chicago Vocational Career Academy High School   |           68.80%           |
|   Roberto Clemente Community Academy High School  |           69.60%           |
+---------------------------------------------------+----------------------------+

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)

-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from CHICAGO_PUBLIC_SCHOOLS_DATA \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [16]:
%%sql SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
GROUP BY COMMUNITY_AREA_NAME

Running query in 'sqlite:///RealWorldData.db'

+---------------------+------------------+
| COMMUNITY_AREA_NAME | TOTAL_ENROLLMENT |
+---------------------+------------------+
|     ALBANY PARK     |       6864       |
|    ARCHER HEIGHTS   |       4823       |
|    ARMOUR SQUARE    |       1458       |
|       ASHBURN       |       6483       |
|    AUBURN GRESHAM   |       4175       |
|        AUSTIN       |      10933       |
|     AVALON PARK     |       1522       |
|       AVONDALE      |       3640       |
|    BELMONT CRAGIN   |      14386       |
|       BEVERLY       |       1636       |
+---------------------+------------------+
Truncated to displaylimit of 10.

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [17]:
%%sql
SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
GROUP BY COMMUNITY_AREA_NAME
ORDER BY TOTAL_ENROLLMENT ASC
LIMIT 5

Running query in 'sqlite:///RealWorldData.db'

+---------------------+------------------+
| COMMUNITY_AREA_NAME | TOTAL_ENROLLMENT |
+---------------------+------------------+
|       OAKLAND       |       140        |
|     FULLER PARK     |       531        |
|       BURNSIDE      |       549        |
|        OHARE        |       786        |
|         LOOP        |       871        |
+---------------------+------------------+

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS_DATA \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   LIMIT 5 

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [18]:
%%sql
SELECT NAME_OF_SCHOOL, SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE SAFETY_SCORE != "None"
ORDER BY SAFETY_SCORE ASC
LIMIT 5

Running query in 'sqlite:///RealWorldData.db'

+----------------------------------------+--------------+
|             NAME_OF_SCHOOL             | SAFETY_SCORE |
+----------------------------------------+--------------+
|     Edmond Burke Elementary School     |     1.0      |
|     Luke O'Toole Elementary School     |     5.0      |
|   George W Tilton Elementary School    |     6.0      |
|     Foster Park Elementary School      |     11.0     |
| Emil G Hirsch Metropolitan High School |     13.0     |
+----------------------------------------+--------------+

Double-click **here** for the solution.

<!-- Solution SQLite:

%sql SELECT name_of_school, safety_score \
FROM CHICAGO_PUBLIC_SCHOOLS_DATA  where safety_score !='None' \
ORDER BY safety_score \
LIMIT 5

-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [19]:
%%sql
SELECT HARDSHIP_INDEX FROM CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS
WHERE CD.COMMUNITY_AREA_NUMBER = CPS.COMMUNITY_AREA_NUMBER
AND COLLEGE_ENROLLMENT = 4368

Running query in 'sqlite:///RealWorldData.db'

+----------------+
| HARDSHIP_INDEX |
+----------------+
|      6.0       |
+----------------+

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_number = CPS.community_area_number 
and college_enrollment = 4368


-->

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment

In [20]:
%%sql
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX
FROM CENSUS_DATA CD
WHERE COMMUNITY_AREA_NUMBER IN (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_PUBLIC_SCHOOLS_DATA ORDER BY COLLEGE_ENROLLMENT DESC LIMIT 1)

Running query in 'sqlite:///RealWorldData.db'

+---------------------+----------------+
| COMMUNITY_AREA_NAME | HARDSHIP_INDEX |
+---------------------+----------------+
|     North Center    |      6.0       |
+---------------------+----------------+

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select community_area_number, community_area_name, hardship_index from CENSUS_DATA \
   where community_area_number in \
   ( select community_area_number from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )
-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2022-03-04        | 2.2     | Lakshmi Holla     | Made changes in markdown cells |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>